@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    /* font-family: "Roboto"; */
}

:root {
    --text-color: black;
    --main-color: rgb(182, 8, 95);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    color: var(--text-color);
}


/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    font-weight: 700;
}

.logo {
    color: black;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 100;
}

.logo:hover {
    transform: scale(1.1);
}

span {
    color: #b6085f;
}

.navbar a {
    color: black;
    margin-left: 4rem;
    font-size: 1.8rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color)
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}


/* home */

.home {
    margin: auto;
    font-size: 2rem;
    width: 100vw;
    height: 100vh;
    background-image: url(img/Bg1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.home-content {
    color: aliceblue;
    margin-top: 60px;
    text-align: center;
    transform: translateY(0);
    animation: slideDown 1s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background-color: rgb(182, 8, 95);
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 5vmin;
    margin-top: 20px;
    margin-bottom: 25px;
}

.navbar i {
    position: absolute;
    top: 30px;
    left: 570px;
    font-size: 30px;
    cursor: pointer;
}

.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: 'Web Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: '';
    background-color: white;
    position: absolute;
    width: calc(100% +8%);
    height: 100%;
    border-left: 2px solid #f1f1f1;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {
    0%,
    100% {
        content: 'Web Developer';
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0%;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}


/* About */

.about {
    padding-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    height: fit-content;
}

.about-circle {
    position: absolute;
    left: -150px;
    margin-top: 15rem;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    background-color: #b6085f;
}

.about-img {
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 20px solid #b6085f;
}

.about-img img {
    position: relative;
    width: 30vw;
    border-radius: 50%;
    cursor: pointer;
}

.heading {
    text-align: center;
    font-size: 8rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.5;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-content .text-animation span::before {
    content: 'Web Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}

.about-content .text-animation span::after {
    content: '';
    background-color: white;
    position: absolute;
    width: calc(100% +8%);
    height: 100%;
    border-left: 2px solid #f1f1f1;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

.btn {
    text-align: center;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #b6085f;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: aliceblue;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 500;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    background: aliceblue;
    color: #b6085f;
    border: 2px solid #b6085f;
}


/* End About */


/* Testimonials */

.container {
    max-width: 800px;
    margin: auto;
    padding: 0 15px;
}

.testimonials {
    width: 100%;
    padding: 100px 0;
    background: #ffe6fd;
}

.section-header {
    text-align: center;
    margin-bottom: 50px;
}

.testimonials-item {
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.testimonials-item .info {
    display: flex;
    align-items: center;
}

.testimonials-item img {
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.testimonials-item .name {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 500;
    color: #000000;
    line-height: 1.2;
}

.testimonials-item .job {
    text-transform: capitalize;
    color: hsl(0, 0%, 40%);
}

.testimonials-item p {
    margin-top: 20px;
    color: hsl(0, 0%, 40%);
}

.testimonials-item .rating {
    margin-top: 15px;
    font-size: 14px;
    color: #edbc0b
}


/* End Testimonials */


/* Excercise */

section {
    padding-top: 10rem;
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: rgb(103, 0, 89)
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 50px;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card {
    width: 26rem;
    background-color: #ffe6fd;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: 0.6s ease;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-20px);
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.card-button {
    display: inline block;
    background-color: rgb(182, 8, 95);
    color: aliceblue;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 10px;
}


/* End Exercise */


/* Contact */

.contact {
    padding-top: 10rem;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact .action {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact .action .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .action .input-box input,
.contact .action textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #000000;
    background: white;
    border-radius: 0.8rem;
    border: 2px solid #b6085f;
    margin: 1rem 0;
    resize: none;
}

.contact .action .btn {
    margin-top: 2rem;
}


/* End Contact */


/* footer */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: #000000;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: aliceblue;
}

.footer .social a {
    font-size: 25px;
    color: aliceblue;
    border: 2px solid aliceblue;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3 ease-in-out;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: aliceblue;
    color: #b6085f;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: aliceblue;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover {
    border-bottom: 3px solid aliceblue;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
}


/* end footer */


/* Mobile device */

@media(max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:991px) {
    header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .footer {
        padding: 2rem 3%;
    }
}

@media(max-width:895px) {
    #menu-icon {
        display: block;
        cursor: pointer;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: white;
        border-left: 2px solid #b6085f;
        border-bottom: 2px solid #b6085f;
        border-bottom-left-radius: 2rem;
        display: none;
    }
    .navbar .active {
        display: block;
    }
    .navbar a {
        display: block;
        color: #000000;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar a:hover {
        color: #000000;
    }
    .about {
        flex-direction: column-reverse;
    }
    .about-circle {
        height: 50vw;
        width: 50vw;
    }
    .about-content {
        margin: 1rem 4rem;
    }
    .about-img {
        border: none;
    }
    .about img {
        width: 70vw;
        margin-top: 1rem;
        border: none;
        margin-bottom: 3rem;
        border: 25px solid #b6085f;
    }
}


/* End Mobile device */