img {
    max-width: 100%;
    width: 40vw;
    border-radius: 20%;
    display: flex;
    text-align: center;
    margin: 5vw auto;
}

.col-right {
    font-size: large;
}

.about {
    display: flex;
}

body {
    background-color: rgb(74, 14, 3);
    color: antiquewhite;
}

button {
    border: none;
    outline: none;
    background-color: #e95100;
    padding: 10px 20px;
    margin: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #f6ea3a;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
}