* {
    background-color: #009294;
    color: #FFFFFF;
}

h1 {
    background-color: yellow;
    text-align: center;
}

h3 {
    font-size: 16pt;
    color: #f00;
}

ol {
    border: blue;
    border-style: dashed;
    border-width: 4px;
}